header
  //- ここからheder内容
  
  include ./_json
  nav.nav_wrap
    h1#top_logo.top_logo
      a(href="../")
        img(src="./images/logo2.png", alt="Liberty")
    ul.menu_nav
      - for (var i = 0; i < headerMenu.length; i++)
        li
          if headerMenu[i].pageLink != null
            a(href=headerMenu[i].pageLink)
              | #{headerMenu[i].pageName}
          else
            |#{headerMenu[i].pageName}
            if headerMenu[i].childMenu != null
              ul.list-menu__child
                - for (var j = 0; j < headerMenu[i].childMenu.length; j++)
                  li
                    a(href=headerMenu[i].pageLink + '/' + headerMenu[i].childMenu[j].pageLink)
                      | #{headerMenu[i].childMenu[j].pageName}