extends ./include/_layout
block var
  - metas = {}
  - metas.title = 'kikuta takuya'
  - metas.url = '/'
  - metas.imgpath = './images/'
  - metas.site_name = 'site_name'
  - metas.description = 'Takuya Kikutaのポートフォリオサイト'
  - metas.keywords = '菊田琢也,Takuya Kikuta,WEB制作,熊本,地域復興,農家,WEBデザイン'
block append meta
  +meta(metas)
  include ./include/_inc_meta_facebook
  +inc_meta_facebook(metas)
block title
  title #{metas.title}
block body
  main#topPage.top_mainImg_wrap
    .img_content_wrap 
      ul.name_block_wrap 
        li.block_name_01 
          ul.block_list01_wrap 
            li.job_name Codeing 
            li.my_name Takuya
        
        li.block_name_02
          ul.block_list01_wrap
            li.job_name Web Desiger
            li.my_name Kikuta
        
      .top_mv_message_wrap
        p.mv_inner_message
         |田舎から都会・世界中へ
         br
         |人々の笑顔をインターネットに乗せて
         br
         |WEBサイトで人と世界を繋ぎたい。

    article#content-inner-wrap
      section#about_content_wrap.about_content_wrap
        h2.section_title.right_line
          span.about_first_txt A
          |bout
        .about_inner_message
          .bg_white
            figure.about_my_photo
              img(src=metas.imgpath + "about_img@2x.jpg", alt="自画像")
            p.about_message.ani 固定概念に囚われない、
              br
              |楽しい・面白いを大切にしています。
              br
              |お客様とのコミュニケーションを大切にし
              br
              |情報整理から問題点を洗い出し、
              br
              |わくわく出来るようなWEBサイトを制作します。

      section#service_content_wrap.service_content_wrap
        h2.section_title.center_line
          span.service_first_txt S
          |ervice
        ul.service_item_list
          li.service_items.item_list01
            h3.service_name DIRECTION
            p.item_name ディレクション
            .icon_wrap.note_wrap
              figure.item_logo_wrap
                img(src=metas.imgpath + "direction_logo.png", alt="ディレクション")
            p.service_txt
              |お客様の要望を聞き、問題点と方向性を決めさせて頂きます。
              br
              |その上で効果的なプランを作成しご提案いたします。サイトを制作するには最初のステップになり、とても重要な場所になります。何を必要とし必要で無いかを洗い出し、費用対効果の高いWebサイトを作る上での重要な箇所になります。
          li.service_items.item_list02
            h3.service_name WEB SITE DESIGN
            p.item_name デザイン
            .icon_wrap.pencil_wrap
              figure.item_logo_wrap
                img(src=metas.imgpath + "design_logo.png", alt="デザイン")
            p.service_txt
              |ディレクションに沿ったデザインを作成いたします。
              br
              |この場所で大まかな見た目、完成にほぼほぼ近いデザインになります。ユーザーインターフェースを考え使う人が分かりやすいサイトデザインにします。定時させていただいたデザインの修正などはここで行います。
          li.service_items.item_list03
            h3.service_name CODING
            p.item_name 制作
            .icon_wrap.dating_wrap
              figure.item_logo_wrap
                img(src=metas.imgpath + "coding_logo.png", alt="制作")
            p.service_txt
              |デザインで作成した通りに制作・プログラムしていきます。
              br
              |ここでは実際にサイト上に公開する最終段階になります。html/cssや動きのあるコンテンツをjavascriptで作成していきます。なるべく編集やカスタマイズしやすい様に心掛け作成しています。こちらが終わると納期になります。

      section#works_content_wrap.works_content_wrap
        article.works_inner
          h2.section_title.left_line
            span.works_first_txt W
            |orks
          ul.work_content
            li.work_item.ani
              h3.items_title CODING
                a(href="https://www.tobu.co.jp/sl/" target="_blank")
                  figure.works_coding
                    img(src=metas.imgpath + "toub/tobu_sltaijyu.jpg", alt="SL大樹")
                  p.works_coding_caption
                    |鉄道会社でフロントエンド・
                    br
                    |コーダーとして制作

            li.work_item.ani
              h3.items_title CODING
                a(href="https://www.sumida-machi.or.jp/" target="_blank")
                  figure.works_coding
                    img(src=metas.imgpath + "toub/sumidamachizukuri.jpg", alt="墨田まちづくり公社")
                  p.works_coding_caption
                    |鉄道会社でフロントエンド・
                    br
                    |コーダーとして制作

            li.work_item.ani
              h3.items_title DESING
                a(href="https://shop.mu-mo.net/" target="_blank")
                  figure.works_coding
                    img(src=metas.imgpath + "avex/yoshikiWorks.jpg", alt="ミューモ")
                  p.works_coding_caption
                    |大手音楽事務所でバナーデザイン・
                    br
                    |WEBサイトデザイン・サイトを制作

            li.work_item.ani
              h3.items_title DESING
                a(href="https://shop.mu-mo.net/" target="_blank")
                  figure.works_coding
                    img(src=metas.imgpath + "avex/shuta1280_800.jpg", alt="ミューモ")
                  p.works_coding_caption
                    |大手音楽事務所でバナー広告を作成
                       
            li.work_item.ani
              h3.items_title CODING
                a(href="https://shop.mu-mo.net/" target="_blank")
                  figure.works_coding
                    img(src=metas.imgpath + "avex/wasta.jpg", alt="墨田まちづくり公社")
                  p.works_coding_caption
                    |大手音楽事務所でバナーデザイン・
                    br
                    |WEBサイトデザイン・サイトを制作

            li.work_item.ani
              h3.items_title DESING
                a(href="https://shibuyastream.jp/" target="_blank")
                  figure.works_coding
                    img(src=metas.imgpath + "firstvision/shibuyastream.jpg", alt="渋谷ストリーム")
                  p.works_coding_caption
                    |制作会社でアシスタントとして
                    br
                    |ワイヤーフレーム作成
      #canvas-container
        canvas#sineCanvas(width="1430" height="300")
      section.contact_content_wrap#contact_content_wrap
        h2.section_title.center_line Contact
        p.contact_message.center_line お仕事のご依頼・ご相談など、お気軽にご連絡ください。
        p.alert_message.center_line ※は入力必須項目です。必ずご入力ください。
        #mail_form.mail_form
          form(action="" method="post")
            dl
              dt お名前
                span *
              dd
                input#name.name(type="text", name="name", size="60" value="" placeholder="お名前を入力ください")
              dt メールアドレス 
                span *
              dd
                input#email.email(type="email", name="mailaddress", size="60" value="", placeholder="メールアドレスを入力ください")
              dt お問い合わせ内容
                span *
              dd
                textarea#inquiry.inquiry(name="inquiry", cols="55", rows="5", placeholder="お問い合わせ内容を入力ください")
            
            .confirmation_screen
              button.screen(type="submit", name="submit_confirm", value="confirmation") 確認画面へ
              